body{
font-family:Arial;
background:#f4f4f4;
text-align:center;
}

.products{
display:flex;
justify-content:center;
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0px 0px 10px gray;
}
